body { 
    margin: 0;
}
nav {
    align-items: center;
    background-color: pink;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    

}

a { 
    color: #17386d;
    font-size: 18pt;
    text-decoration: none;
    font-family: 'VT323';
}