body { 
    margin: 0;
}
nav {
    align-items: center;
    background-color: pink;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    

}

nav a { 
    color: #17386d;
    font-size: 18pt;
    text-decoration: none;
    font-family: 'VT323';
}

header {
    background-image: url("images/5kages.jpg");
    background-size: cover;
    height: 400px;

}

section {
    background-color: #b0946b;
    display: flex;
    justify-content: space-around;
    font-family:'VT323';
}

div {
    width: 40%;

}

div ul{
    list-style-image: url(images/ninja.png);
}

footer div {
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

footer div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-content: center;
}
footer div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

footer {
    display: flex;
    justify-content: center;
}


ul li:nth-child(even) {
    color: white;
}

